@media screen, print {
  body {
    width: 100%;
    margin: 1.5em 0;
    margin-top: 1em;
    font-family: "Helvetica Neue", Helvetica, "Droid Sans", sans-serif;
    font-size: 112%;
    overflow-x: hidden;
    color: #222;
  }

  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .ribbon {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
    color: #222;
  }

  .ribbon:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
  }
  a.ribbon, a.ribbon:hover { font-style: normal; font-weight: normal; }

  h1, h2, h3, header, #top, #bottom {
    font-family: 'Lato';
    font-weight: 400;
  }

  h3 {
    font-size: 1.2em;
    margin-bottom: .25em;
    width: 67%;
  }

  h3 span {
    padding-left: .5em;
    font-size: .65em;
  }

  h3 a { font-style: normal; font-weight: inherit; }
  h4 span { font-size: .75em; }

  a {
    text-decoration:  none;
    font-weight:      400;
    font-style:       italic;
    color:            inherit;
  }

  a:hover {
    text-decoration: underline;
  }

  #top, #bottom, body > footer {  
    width: 654px;
    margin: auto;
    clear: both;
  }

  body > footer { display: none; }

  #top header {
    float: left;
    width: 67%;
  }

  #top h1 {
    padding-bottom: 0;
    padding-top: .15em;
    font-size:    2.33em;
    font-weight:  900;
    font-style:   italic;
  }

  #top h2 {
    font-size: 1.33em;
    padding-bottom: .5em;
    padding-top: .25em;
    font-weight: lighter;
  }

  #top p {
    float: right;
    text-align: right;
    padding-top: .67em;
    line-height: 1.5em;
  }

  #top p a {
    font-weight:  lighter;
    font-style:   normal;
    display: block;
  }

  .email { letter-spacing: 1px;}

  section {
    width: 654px;
    margin: 0 auto;
  }

  section h2 {
    padding: .5em .0;
    padding-bottom: .3em;
    font-size: 1.67em;
  }

  section ul { list-style-type: none; }
  section ul ul, #web ul { padding-left: 1.2em; }

  section ul ul li:before, #web li:before {
    content: "\271a";
    display: block;
    font-size: smaller;
    float: left;
    position: relative;
    text-align: center;
    margin-left: -1.33em;
    width: 1.33em;
  }

  section ul ul li, #interests p, #web ul {
    margin: 0;
    margin-bottom: .5em;
    font-weight: lighter;
    line-height: 125%;
  }

  section > ul > li {
    margin-bottom: 1.5em;
  }

  section .bullet-points {
    padding-top: .5em;
    padding-right: 1em;
  }

  section .bullet-points li, p {
    line-height: 120%;
  }

  #web ul {
    margin: 0;
    padding-top: .45em;
    padding-bottom: .33em;
  }

  #web li {
    border: none;
    display: block;
    float: left;
    width: 44%;
    margin: .1em;
    margin-right: inherit;
    margin-bottom: .5em;
  }

  #web a {
    border-bottom: 1px dotted black;
    font-weight: lighter;
    font-style: normal;
  }

  #web a:hover {
    text-decoration: none;
    border-bottom-style: solid;
  }

  section header p {
    font-style: italic;
    font-weight: lighter;
    padding-bottom: 0;
  }

  section .short {
    margin-bottom: .4em;
    font-size: 88%;
  }

  section header .dates {
    font-style: normal;
    float: right;
  }

  #other-experience {
    font-size: smaller;
  }

  #bottom {
    margin-top: 1.5em;
    margin-bottom: 0;
    font-weight: lighter;
    line-height: 1.67em;
    vertical-align: middle;
    text-align: center;
  }

  #bottom .locality {
    display: block;
    width: 100%;
    text-align: center;
  }

  #bottom a {
    float: left;
    font-weight: lighter;
    font-style: normal;
  }

  #bottom .phone {
    display: block;
    float: right;
  }
}

@media print {
  body    { padding: .75in 1in .75in 1in; }
  .ribbon { display: none; }
  section > ul > li, section header { page-break-inside: avoid; }
  section header, h1, h2, h3 { page-break-after: avoid !important; }
  a {
    font-weight:  inherit;
    font-style:   inherit;
  }

  #web a { border-bottom-width: 0; }
  #web a:after {
    content: attr(href);
    display: block;
    float: left;
    clear: left;
    font-size: 75%;
    line-height: 1em;
  }
  .email { letter-spacing: normal;}

  body > footer {
    display:      block;
    text-align:   center;
    font-size:    11pt;
    position:     absolute;
    bottom:       0;
    height:       1.2em;
    vertical-align:   middle;
    -webkit-opacity:  .67;
  }
}
